<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

	<bean id="student1" class="com.capgemini.model.Student" scope="prototype">
		<property name="studentId" value="1"/>
		<property name="studentName" value="Makarand"/>
		<property name="studentScore" value="69"/>
	</bean>
	
	<bean id="student2" class="com.capgemini.model.Student" scope="prototype">
		<constructor-arg name="studentId" value="1"/>
		<constructor-arg name="studentName" value="Makarand"/>
		<constructor-arg name="studentScore" value="60"/>
	</bean>
	
	

</beans>